
body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

/* Header */
header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa-header {
    position: relative;
    width: 940px;
    margin: auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

/* Rodapé */
footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

/* Mobile Large */
@media screen and (max-width: 426px) {
    
    body {
        padding: 0px 5px;
    }

    body p {
        font-size: 20px;
    }

    .caixa-header {
        width: auto;
    }

    nav li {
        display: block;
        margin: 0 0 0 15px;
        padding: 8px 0;
    }

    nav li:before {
        content: "— ";
    }

    nav li:after {
        content: " —";
    }

}

/* Tablet */
@media screen and (max-width: 769px) {
    
    body {
        padding: 0px 5px;
    }

    .caixa-header {
        width: auto;
    }

    .caixa-header ul {
        text-align: center;
    }
    
    h1 {
        text-align: center;
    }

    body p {
        font-size: 20px;
    }
    
    nav {
        position: static;
    }
    
}
